@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@keyframes pulse {
 0% {
   -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
   box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
 }
 70% {
   -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
   box-shadow: 0 0 0 10px rgba(204,169,44, 0);
 }
 100% {
   -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
   box-shadow: 0 0 0 0 rgba(204,169,44, 0);
 }
}
